<nav>
  <i class="nav-icons fa fa-instagram"></i>
  <i class="nav-icons fa fa-youtube-play"></i>
  <i class="nav-icons fa fa-twitter"></i>

  <div id="nav-bar">
    <div id="nav-logo">
      <a href="/">
        <img
          src="https://res.cloudinary.com/avatarhzh/image/upload/c_scale,w_64/v1516243799/nation-of-social-media/global.png"
          alt="navigation logo"
        />
      </a>
    </div>

    <div id="nav-links">
      <ul id="nav-links-items">
        <li><a href="/">World</a></li>
        <li><a href="/usa">USA</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </div>

    <div id="nav-hamburger">
      <div id="hamburger-icon"></div>
    </div>
  </div>
</nav>