<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="favicon/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="css/font-awesome.css" />
    <link rel="stylesheet" href="css/styles.min.css" type="text/css" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
      charset="utf-8"
    ></script>
    <script src="js/navigation.js" charset="utf-8"></script>
    {{{_sections.head}}}
    <title>{{ title }}</title>
  </head>
  <body>
    {{{ body }}}
  </body>
</html> 