{{#section 'head'}}
  <script src="js/about.js" charset="utf-8"></script>

  <title>Nation of Social Media | About</title>
{{/section}}

{{> nav}}

<h1 id="about-heading">If your followers were a population...</h1>

<div id="wrapper" class="skewed">
  <div class="layer bottom">
    <div class="content-wrap">
      <div class="content-body content-body-bottom">
        <h2>Or Compare with American States or Counties</h2>
        <p>
          See whether you have more followers than any of the American
          states or counties
        </p>
      </div>
      <div class="video-container bottom-video">
        <video
          loop
          autoplay
          class="video bottom-video"
          src="https://res.cloudinary.com/avatarhzh/video/upload/v1520321647/nation-of-social-media/usa.mp4"
          poster="https://res.cloudinary.com/avatarhzh/image/upload/v1520321323/nation-of-social-media/usa.jpg"
        ></video>
      </div>
      <div class="bg"></div>
    </div>
  </div>

  <div class="layer top">
    <div class="content-wrap">
      <div class="content-body content-body-top">
        <h2>Compare Against Populations of Countries</h2>
        <p>
          See whether you have more followers than the countries of the
          world!
        </p>
      </div>
      <div class="video-container top-video">
        <video
          loop
          autoplay
          src="https://res.cloudinary.com/avatarhzh/video/upload/v1520321691/nation-of-social-media/world.mp4"
          poster="https://res.cloudinary.com/avatarhzh/image/upload/v1520321368/nation-of-social-media/world.jpg"
        ></video>
      </div>
      <div class="bg"></div>
    </div>
  </div>

  <div class="handle"></div>
</div>