{{#section 'head'}}
  <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/jvectormap/2.0.4/jquery-jvectormap.min.css"
    />
  <script src="js/jquery.jvectormap.min.js" charset="utf-8"></script>
  <script src="js/searchFunctions.js" charset="utf-8"></script>

  <script src="maps/world-mill.js" charset="utf-8"></script>
  <script src="data/world-pop.js" charset="utf-8"></script>
  <script src="js/world.js" charset="utf-8"></script>
  <title>Nation of Social Media</title>
{{/section}}

{{> nav}}

<h1 id="heading">Nation of Social Media</h1>

<div id="search">
  <i
    class="fa fa-youtube-play search-type-icon"
    id="search-youtube"
    data-type="youtube"
    title="youtube"
  ></i>
  <i
    class="fa fa-twitter search-type-icon"
    id="search-twitter"
    data-type="twitter"
    title="twitter"
  ></i>
  <i
    class="fa fa-instagram search-type-icon"
    id="search-instagram"
    data-type="instagram"
    title="instagram"
  ></i>
  <input
    type="search"
    id="search-bar"
    placeholder="Enter Youtube Username"
  />
  <i class="fa fa-search" id="search-icon"></i>
  <p id="search-message"></p>
</div>

<div id="world-map"></div>